<div style="text-align: center">
    <div>
        <a href="/user/store/돈가스|회|일식/JAPANESEFOOD/star"><span><img src="/staticImg/JAPANESEFOOD.png" style="width: 100px; height: 100px"></span></a>
        <a href="/user/store/치킨/CHICKEN/star"><span><img src="/staticImg/CHICKEN.png" style="width: 100px; height: 100px"></span></a>
        <a href="/user/store/중국집/CHINESEFOOD/star"><span><img src="/staticImg/CHINESEFOOD.png" style="width: 100px; height: 100px"></span></a>
    </div>
    <div>
        <a href="/user/store/분식/BUNSIK/star"><span><img src="/staticImg/BUNSIK.png" style="width: 100px; height: 100px;"></span></a>
        <a href="/user/store/피자/PIZZA/star"><span><img src="/staticImg/PIZZA.png" style="width: 100px; height: 100px"></span></a>
        <a href="/user/store/카페|디저트/DESSERT/star"><span><img src="/staticImg/DESSERT.png" style="width: 100px; height: 100px"></span></a>
    </div>
</div>