<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div>
    <span><a href="/" style="text-decoration-line: none"><-</a></span>
    <div style="text-align: center; font-size: 25px">{{categoryKo}}</div>
<!--    <span style="margin-left: 18rem; font-size: 25px">{{categoryKo}}</span>-->
</div>

<div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active link-dark" aria-current="page" href="/user/store/돈가스|회|일식/JAPANESEFOOD/star">돈가스|회|일식</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="/user/store/치킨/CHICKEN/star">치킨</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="/user/store/중국집/CHINESEFOOD/star">중국집</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="/user/store/분식/BUNSIK/star">분식</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="/user/store/피자/PIZZA/star">피자</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="/user/store/카페|디저트/DESSERT/star">카페|디저트</a>
        </li>
    </ul>
</div>
<hr>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active link-secondary" aria-current="page" href="/user/store/{{categoryKo}}/{{categoryEn}}/order">주문많은순</a>
    </li>
<!--    <li class="nav-item">-->
<!--        <a class="nav-link link-secondary" href="/user/category/click/{{categoryKo}}/{{categoryEn}}">기본순</a>-->
<!--    </li>-->
    <li class="nav-item">
        <a class="nav-link link-secondary" href="/user/store/{{categoryKo}}/{{categoryEn}}/star">별점많은순</a>
    </li>
</ul>
</body>
</html>